<div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <!-- First and Second Column for the Form -->
        <!-- <div class="col-md-8"> -->
          <h4>Create Dispatch Area</h4>
          <form [formGroup]="createDispatch"> 
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                      <label for="areaName" class="form-label">Area Name</label>
                      <input lntds-text-box type="text" class="form-control" formControlName="areaName" id="areaName" name="areaName" placeholder="Add Name">
                    </div>   
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="locationId" class="form-label">Location ID</label>
                        <input lntds-text-box type="text" class="form-control" formControlName="locationId" id="locationId" name="locationId" placeholder="Add Location ID">
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="addressLine1" class="form-label">Address Line 1</label>
                        <input lntds-text-box type="text" class="form-control" formControlName="addressLine1" id="addressLine1" name="addressLine1" placeholder="Add Address">
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3" style="padding-bottom: 5px;">
                      <label for="priority" class="form-label" >Priority</label>
                      <lntds-drpdown 
                      name="priority"
                      [data]="priority"
                      [isRequired]="false"
                    ></lntds-drpdown>

                        
                        <!-- <select class="form-select" formControlName="priority" id="priority" name="priority" placeholder="Add Priority"> -->
                          <!-- Add options for priority here -->
                          <!-- <option value="" disabled selected hidden>Select Priority</option>
                          <option value="high">High</option>
                          <option value="medium">Medium</option>
                          <option value="low">Low</option> -->
                        <!-- </select> -->
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="addressLine2" class="form-label">Address Line 2</label>
                        <input lntds-text-box type="text" class="form-control" formControlName="addressLine2" id="addressLine2" name="addressLine2" placeholder="Add Address">
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="addLocationFile" class="form-label">Add Location File</label>
                        <div class="input-group">
                          <label for="mlGeoJSONFile" style="margin-top: 12px;margin-left: 5px;">Add ML/Geo JSON File</label>
                          <input lntds-text-box type="text" class = "form-control" formControlName="mlGeoJSONFile" id= "mlGeoJSONFile" name="mlGeoJSONFile" placeholder=" Add URL " style="margin-left : 10px;margin-top: 5px; margin-bottom:5px; border: 1px solid #C1BDBD; background : #FFF;">
                          <input type="file" class="form-control" formControlName="browseFile" id="browseFile" name="browseFile" style="display: none;">
                          <div class="input-group-append">
                            <button class="btn btn-light" type="button" onclick="document.getElementById('browseFile').click()">Browse</button>
                          </div>
                        </div>
                      </div>
                      
                                            
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="pincode" class="form-label">Pincode</label>
                        <input lntds-text-box type="text" class="form-control" formControlName="pincode" id="pincode" name="pincode" placeholder="Add Pincode">
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="latitude" class="form-label">Latitude</label>
                        <input lntds-text-box type="text" class="form-control" formControlName="latitude" id="latitude" name="latitude" placeholder="Add Latitude">
                      </div>
                </div>
            </div>  
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="city" class="form-label">City</label>
                        <input lntds-text-box type="text" class="form-control" formControlName="city" id="city" name="city" placeholder="Add City">
                      </div>  
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="longitude" class="form-label">Longitude</label>
                        <input lntds-text-box type="text" class="form-control" formControlName="longitude" id="longitude" name="longitude" placeholder="Add Longitude">
                      </div>
                </div>
            </div>
            <div class="col-md-6">
            <div class="mb-3">
              <label for="state" class="form-label">State</label>
              <!-- <select class="form-select" formControlName="state" id="state" name="state" placeholder="Add State"> -->
                <!-- States will be populated dynamically using Angular -->
                <!-- <option value="" disabled selected hidden>Select State</option>
                <option *ngFor="let state of states" [value]="state">{{ state }}</option>
              </select> -->
              <lntds-drpdown 
                      name="state"
                      [data]="state"
                      [isRequired]="false"
                 ></lntds-drpdown>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
              <label for="country" class="form-label">Country</label>

              <!-- <select class="form-select" formControlName="country" id="country" name="country" (change)="onCountryChange()" placeholder="Add Country">
                 Countries will be populated dynamically using Angular 
                <option value="" disabled selected hidden>Select Country</option>
                <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
              </select> -->
                 <lntds-drpdown 
                      name="country"
                      [data]="country"
                      [isRequired]="false"
                 ></lntds-drpdown>

            </div>
        </div>
        
          <div class="col-mod-8" style="padding-top: 5px; padding-bottom: 5px;">
            <ag-grid-angular class="ag-theme-quartz" style ="height:200px;width:100%;"
            [rowData]="rowData"
            [columnDefs]="colDefs"
            [pagination]="true"
            [paginationPageSizeSelector]="false"
            >
            </ag-grid-angular>
          </div>
          <div class="col-mod-8 text-center justify-content-center"  style="display: flex; gap: 10px; margin-top:72px; margin-bottom: 20px; float: right;">
            <button lntdsButton
              [color]="ButtonColor.SECONDARY"
              [size]="ButtonSize.SMALL"
              [style]="ButtonStyle.SOLID"
              [shape]="ButtonShape.ROUNDED"
              type="button" (onClick)="addDivision()">Add Division</button>                 
              <button lntdsButton
              [color]="ButtonColor.SECONDARY"
              [size]="ButtonSize.SMALL"
              [style]="ButtonStyle.SOLID"
              [shape]="ButtonShape.ROUNDED"
              type="button" (onClick)="cancel()">Cancel</button>                
              <button lntdsButton
              [color]="ButtonColor.PRIMARY"
              [size]="ButtonSize.SMALL"
              [style]="ButtonStyle.SOLID"
              [shape]="ButtonShape.ROUNDED"
              type="button" (onClick)="save()">Save</button>
          </div>
        </form>
        </div>
      
      <div class="col-md-4">

        <!-- Third Column for the Image -->
        <div class="col-md-12">
        <div style="background-color: whitesmoke; height: 41px;"></div>
          <img src="https://via.placeholder.com/1200x800" style="height: 900px;" alt="Image Placeholder" class="img-fluid">
        </div>
      </div>
    </div>
  </div>