.form-group {
    margin-left : 20px;
    margin-top : 20px ;
}
.form-inline {
    display: inline-block;
    width: 8rem;
}
h4{
    margin-left: 3px;
    margin-top: 20px;
}

label{
    color: #000;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-group {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #C1BDBD;
    background: #FFF;
}
.btn {
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #C1BDBD;
    /* float: right; */
}
.btn-secondary{
    margin:0px 12px;
}